<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Text Utils</title>
        
    </head>
    <body>
        <h1>Welcome to the text analyzer.Enter your text area</h1>
        <form action="/analyze" method="get">
         <textarea name='text' style="width: 1677px; height: 169px;"></textarea>
         <input type="checkbox" name="removePunc"> Remove Punctuation
         <input type = "checkbox" name="fullcaps">Capitalize Full
         <input type = "checkbox" name = "newLine">New Line Remover
         <input type = "checkbox" name = "extraspaceRemover">Extra Space Remover
         <input type = "checkbox" name = "charCount">Character Count
         <button type="submit">Remove Punctuation</button>
        </form>
    </body>
</html>